@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url('./src/pokemon-api-app/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width: 1440px) {
    main{
      padding: 3rem 0;
    }
  }